@media screen and (min-width: 800px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        position: static;
        align-self: center;
        width: 100%;
    }
    nav a:first-child {
        display: none;
    }
    nav a {
        display: block;
    }
/* 
    nav a:hover {
        color: black;
        background-color: rgba(35, 121, 150, .5);
    } */
    header {
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }
    .headings h1 {
        width: 100%;
    }
    .contentbox {
        max-width: 800px;
    }
    footer {
        margin: 0 auto;
    }
    main {
      grid-template-columns: 1fr 2fr 1fr;
      /* grid-template-rows: 100px 100px 100px; */
    }
      #weather {
          grid-column: 1/2;
          grid-row: 2/3;
      }
      #join {
          display: block;
          grid-column: 1/2;
          grid-row: 3/4;
      }
      #hero {
          grid-column: 2/3;
          grid-row: 1/3;
      }
      #news {
          grid-column: 2/3;
          grid-row: 3/4;
      }
      #spotlights {
          grid-column: 3/4;
          grid-row: 1/4;
          flex-direction: column;
          justify-content: center;
          
      }
      #event {
          grid-column: 1/2;
          grid-row: 1/2;
      }
      #spotlights section:last-child   {
          display: block;
      } 
      #s1, #s2, #s3 {
          padding: 10px;
          width: 70%;
          
      }
      #logo {
          margin: 0 15px;
      }
      
  }