@media screen and (min-width: 550px) {
    
    .headings h1 {
        visibility: visible;
    }
    main {
        grid-template-columns: 2fr 1fr;
        /* grid-template-rows: 100px 100px 100px 100px 100px; */
    }
    #weather {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    #join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #spotlights {
        grid-column: 1/3;
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #s1, #s2, #s3 {
        padding: 10px;
        width: 40%;
    }
    #event {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #top {
        flex-direction: row;
    }
    
    #spotlights section:last-child   {
        display:none;
    } 

    /*Discover CSS*/
    #dis_main {
        grid-template-columns: 1fr 1fr;
    }
    .gallery {
        max-width: 400px;
        width: 80%;
    }
}
